.korobkas_ff{
    border: 1px solid #8a8484;
    width: 250px;
    height: 125px;
    padding: 10px;

    background-color: rgb(206, 206, 192);
}
.korobka {
    display: flex;
    justify-content: space-around;
}
.korobkas_ff h3 {
    padding-bottom: 10px;
}
.pas {
    padding-bottom: 20px;
}